@charset "euc-kr";

.gry_bar {width:100%; height:12px; border-top:1px solid #e2e2e2; background:#f8f8f8;}

/* MAIN Contents */
.M_visual {position:relative; width:100%; height:auto;}
.M_visual:before {content:''; position:absolute; top:0; left:0; width:100%; height:20px; box-shadow:inset 0 5px 10px -5px rgba(0,0,0,.15); z-index:101;}
.M_visual img {width:100%; height:auto;}

.M_visual .swiper-pagination {position:relative; bottom:auto; height:50px; background:#fff; padding:10px 0 0; box-sizing:border-box;}
.M_visual .swiper-pagination-bullet {width:10px; height:10px; border-radius:50%;}
.M_visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 2px;}
.M_visual .swiper-pagination-bullet-active {background:#ef4023;}

.M_contents .prd_list_wrap {width:100%; border-top:1px solid #ededed; padding:35px 3% 0; box-sizing:border-box;}
.prd_list_wrap .prd_ttl {margin-bottom:24px;}
.prd_list_wrap .prd_ttl h2 {float:left; font-size:2.2rem; color:#111; font-weight:300;}
.prd_list_wrap .prd_ttl h2 strong {font-weight:700;}
.prd_list_wrap .prd_ttl a {float:right; font-size:0.95rem; font-weight:500; line-height:2.2rem; letter-spacing:-0.065rem; color:#777; padding-right:12px; background:url(../images/ico/more_ico.png) 99% 50% no-repeat;}

.prd_list_wrap .prd_list {display:flex; flex-wrap:wrap; justify-content:space-between; width:100%;}
.prd_list li {position:relative; width:47.6%;}
.prd_list .wish_btn {position:absolute; top:10px; right:10px; width:24px; height:22px; background:url(../images/ico/wish_ico.png) no-repeat; text-indent:-9999px; z-index:10;}
.prd_list .wish_btn.on {background-image:url(../images/ico/wish_on.png);}
.prd_list li a {position:relative; display:block; width:100%; height:100%;}
.prd_list li .best {position:absolute; top:0; left:0; width:40px; height:40px; line-height:40px; background:rgba(239,64,35,.6); color:#fff; font-size:20px; text-align:center; z-index:2;}
.prd_list li:nth-child(n+4) .best {background:rgba(0,0,0,.6);}
.prd_list .img_box {position:relative; width:100%; padding-top:100%; box-sizing:border-box;}
.prd_list .img_box img {position:absolute; top:50%; left:0; width:100%; height:auto; transform:translateY(-50%);}
.prd_list dl {padding:20px 0 50px;}
.prd_list dt {display:-webkit-box; height:42px; font-size:1.05rem; font-weight:500; line-height:21px; letter-spacing:-0.065rem; color:#111; overflow:hidden; text-overflow:ellipsis; white-space:normal; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.prd_list dd {margin:10px 0 0;}
.prd_list .price, .prd_list .cost {display:inline-block; font-size:1.1rem; font-weight:400; line-height:34px; letter-spacing:-0.065rem; color:#111; vertical-align:middle; margin:0 6px 0 0;}
.prd_list .price strong, .prd_list .cost strong {font-weight:700; letter-spacing:0;}
.prd_list .cost {font-size:0.8rem; color:#999; text-decoration:line-through;}

.full_ban .ban a {display:block; width:100%; height:100%;}
.full_ban img {width:100%; height:auto;}

.half_ban .ban {float:left; width:50%;}
.half_ban .ban a {display:block; width:100%; height:100%;}
.half_ban img {width:100%; height:auto;}

.M_center {width:100%; padding:35px 0 20px; border-width:1px 0; border-style:solid; border-color:#ededed; box-sizing:border-box;}
.M_center .ttl {margin:0 0 24px;}
.M_center .ttl h2 {float:left; font-size:1.25rem; color:#111; line-height:2.2rem; font-weight:500;}
.M_center .ttl a {float:right; font-size:0.95rem; font-weight:500; line-height:2.2rem; letter-spacing:-0.065rem; color:#777; padding-right:12px; background:url(../images/ico/more_ico.png) 99% 50% no-repeat;}
.M_center li:after {content:''; display:block; clear:both;}
.M_center li a {float:left; max-width:calc(100% - 90px); font-size:1rem; font-weight:500; line-height:2rem; letter-spacing:-0.065rem; color:#666; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.M_center li .date {float:right; font-size:0.95rem; line-height:2rem; color:#999;}

.M_notice {width:100%; background:#f8f8f8; padding:20px 3%; border-bottom:1px solid #eee; box-sizing:border-box;}
.M_notice h3 {float:left; width:80px; font-weight:700; font-size:1rem; line-height:27px; color:#111;}
.M_notice .notice_slide {float:left; width:calc(100% - 80px); height:27px;}
.M_notice .notice_slide .swiper-slide:after {content:''; display:block; clear:both;}
.M_notice .notice_slide a {float:left; max-width:calc(100% - 90px); font-size:1rem; line-height:27px; color:#444; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.M_notice .notice_slide .date {float:right; font-size:0.95rem; line-height:27px; color:#999;}

.M_counsel {width:100%; padding:40px 3% 45px; box-sizing:border-box;}
.M_counsel h2 {font-size:1.25rem; font-weight:500; line-height:2rem; letter-spacing:-0.065rem; color:#222; text-align:center; margin-bottom:20px;}
.M_counsel h2 strong {display:inline-block; font-size:2.1rem; line-height:2.1rem; color:#ef4023; letter-spacing:0; margin-left:3%;}
.M_counsel span {display:block; font-size:1rem; line-height:1.5rem; letter-spacing:-0.045rem; color:#999; text-align:center;}
.M_counsel span.notice {color:#444;}
.M_counsel .lnk_area {width:100%; height:50px; margin:16px 0 0; border:1px solid #ef4023; border-radius:3px; box-sizing:border-box;}
.M_counsel .lnk_area li {float:left; width:50%;}
.M_counsel .lnk_area li:first-child a {border-right:1px solid #ef4023;}
.M_counsel .lnk_area li a {display:block; width:100%; height:100%; font-size:1rem; line-height:48px; letter-spacing:-0.065rem; color:#ef4023; padding:0 0 0 15%; text-align:left; background:url(../images/ico/arr_ico.png) 80% 50% no-repeat; box-sizing:border-box;}


/* prd_view */
.prd_view_wrap {border-top:1px solid #ddd;}
.prd_view_wrap .img_box {width:100%; height:auto; margin-bottom:16px;}
.prd_view_wrap .img_box .swiper-slide {text-align:center;}
.prd_view_wrap .img_box .swiper-slide img {width:auto; height:auto; max-width:100%;}
.prd_view_wrap .img_box > .swiper-pagination {position:static; bottom:0; width:100%; margin:12px 0;}
.prd_view_wrap .img_box .swiper-pagination-bullet {width:10px; height:10px; border-radius:50%;}
.prd_view_wrap .img_box .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 2px;}
.prd_view_wrap .img_box .swiper-pagination-bullet-active {background:#ef4023;}

.prd_view_wrap .prd_title {width:100%; padding:0 3% 16px; box-sizing:border-box;}
.prd_title .ttl {font-size:1.1rem; font-weight:500; line-height:21px; letter-spacing:-0.065rem; color:#111; margin-bottom:6px;}

.prd_info dl {width:100%; padding:0 3%; box-sizing:border-box;}
.prd_info dl:after {content:''; display:block; clear:both;}
.prd_info dt {float:left; width:25%; font-size:1rem; line-height:34px; letter-spacing:-0.065rem; color:#111; font-weight:500; padding:0 2%; box-sizing:border-box;}
.prd_info dd {float:left; width:75%; font-size:.95rem; line-height:34px; letter-spacing:-0.025rem; color:#555; font-weight:500; padding:0 2%; box-sizing:border-box;}
.prd_info dd select {width:100%; height:30px; border:1px solid #ddd; font-size:0.9rem; padding:0 6px; box-sizing:border-box;}

.prd_info .qty a {float:left; width:30px; height:30px; line-height:28px; background:#f5f5f5; color:#aaa; border:1px solid #ddd; font-weight:300; font-size:1.2rem; padding:0; text-align:center; box-sizing:border-box;}
.prd_info .qty input {float:left; width:60px; height:30px; line-height:28px; background:#fff; color:#111; font-weight:500; font-size:.9rem; letter-spacing:-0.025rem; border-width:1px 0; border-style:solid; border-color:#ddd; text-align:center; -webkit-appearance:none; box-sizing:border-box;}

.prd_info .price_wrap {width:94%; margin:8px auto; border-top:1px solid #ddd; padding:4px 0; box-sizing:border-box;}
.prd_info .price_wrap dl {padding:0;}
.prd_info .price_wrap dd {text-align:right;}
.prd_info .price_wrap dd strong {font-size:18px; letter-spacing:0; font-weight:700;}

.prd_info .prd_btn_area {display:flex; width:100%; padding:0 3% 20px; margin:8px 0 0; flex-wrap:wrap; justify-content:space-between; box-sizing:border-box;}
.prd_info .prd_btn_area button {width:calc(49% - 25px); height:50px; line-height:50px; background:#333; font-size:1.1rem; font-weight:500; color:#fff;}
.prd_info .prd_btn_area .buy_btn {background:#ef4023;}
.prd_info .prd_btn_area .wish {width:50px; height:50px; line-height:48px; border:1px solid #ddd;background:url(../images/ico/wish_ico.png) 50% 50% no-repeat; text-indent:-9999px; box-sizing:border-box;}
.prd_info .prd_btn_area .wish.on {background:url(../images/ico/wish_on.png) 50% 50% no-repeat;}

/* ???? ???명???댁? ??????蹂? ---------------------------- */
.prdview_tab {border-top:1px solid #ededed; margin-bottom:.75rem;}
.prdview_tab .prd_tabBtn {display:flex; width:100%; height:3.5rem; line-height:3.5rem;}
.prdview_tab .prd_tabBtn li {width:25%; line-height:3.5rem; border-bottom:1px solid #d1d1d1; text-align:center; font-size:.95rem; letter-spacing:-0.025rem; color:#414141; box-sizing:border-box;}
.prdview_tab .prd_tabBtn li a {display:block; width:100%; height:100%; line-height:3.5rem;}
.prdview_tab .prd_tabBtn li.on {color:#ef4023; border-bottom:2px solid #ef4023;}

.prdview_tab .prd_tabCont .cont {padding:24px 0 16px;}

/* ???몄??蹂? */
.prdview_tab .prdview_img {width:100%; margin:0 auto 3.5rem;}
.prdview_tab .prdview_img * {}
.prdview_tab .prdview_img img {width:100% !important; height:auto !important;}

.prdview_tab .info_box {width:100%; padding:0 1.25rem; box-sizing:border-box;}
.prdview_tab .info_box h2 {font-size:1.05rem; line-height:1.6rem; letter-spacing:-0.065rem; color:#111;}
.prdview_tab .info_box h3 {font-size:.75rem; line-height:1rem; letter-spacing:-0.025rem; color:#999;}            
.prdview_tab .info_box .inner {width:100%; margin:12px 0; background:#f9f9f9; padding:1.2rem .9rem; box-sizing:border-box;}
.prdview_tab .info_box .inner li {font-size:.85rem; line-height:1.6rem; letter-spacing:-0.045rem; color:#888;}
.prdview_tab .info_box li span {display:inline-block; width:45%; color:#111;}

/* ?????ы?? */
.prdview_tab .txt-box {width:100%; padding:0 1.25rem; box-sizing:border-box;}
.prdview_tab .txt-box h3 {font-size:1.05rem; line-height:1.6rem; letter-spacing:-0.065rem; color:#111; margin-bottom:1rem;}
.prdview_tab .txt-box p {font-size:.9rem; line-height:1.6rem; letter-spacing:-0.065rem; color:#666; white-space:pre-line; margin-bottom:1.2rem;}

.prdview_tab#tab2 .txt-box h3 ~ * {font-size:.9rem; line-height:1.6rem; letter-spacing:-0.065rem; color:#666; white-space:pre-line;}

.prdview_tab .btn__container {margin: 18px 0 0;}

/* view_review */
.review {width:100%; padding:0 3%; box-sizing:border-box;}
.review_info {font-size:14px; letter-spacing:-0.045rem; font-weight:500; color:#777; vertical-align:middle;}
.review_info .star {letter-spacing:0; color:#ef4023;}
.review_title {font-size:16px; line-height:24px; letter-spacing:-0.045rem; color:#111; padding:4px 0; word-break:keep-all;}
.review_con {padding:16px 3%; background:#fafafa; font-size:15px; letter-spacing:-0.025rem; color:#333; box-sizing:border-box;}

/****************************** ????/?λ?援щ??/二쇰Ц 怨듯?? ******************************/

/* ?몄?? --------------------------------------------------------------*/
.login_ttl {width:100%; height:auto; margin:50px auto 16px; text-align:center;}
.login_ttl h2 {font-size:2rem; letter-spacing:-0.025rem; font-weight:700; line-height:1.2; margin-bottom:.8rem; color:#000;}
.login_ttl span {display:inline-block; font-size:1rem; line-height:1.6rem; color:#999; letter-spacing:-0.025rem;}

/* ?? --------------------------------------------------------------*/
.login_form {width:100%; padding:0 1.25rem; box-sizing:border-box;}
.login_form .input {position:relative; height:3.75rem; line-height:3.75rem;}
.login_form .input input {display:block; width:100%; height:3.75rem; line-height:3.75rem; font-size:1rem; padding:0 0 0 25%; margin:.625rem 0 0; border:1px solid #ddd; border-radius:0.2rem; outline:none;}
.login_form .input label {position:absolute; top:50%; left:1.25rem; font-size:.9rem; color:rgba(0,0,0,.5); letter-spacing:-0.025rem; transform:translateY(-50%);}
.login_form .input input:first-child{margin:0;}
.login_form .input input:focus {border-color:#ef4023;}
	/**/
.login_form .option{margin:0.6rem 0 1.8rem;}
.login_form .option *{vertical-align:middle; margin:0; line-height:1.25rem;}
.login_form .option input {width:1.25rem; height:1.25rem; margin:0; border-radius:0; border:1px solid #ddd;}
.login_form .option label{font-size:.95rem; letter-spacing:-0.025rem; color:#444; margin:0 0 0 .4rem;}
	/**/
.login_form .button {margin:0 0 1.2rem;}
.login_form .button button{display:block; width:100%; height:3.75rem; line-height:3.75rem; font-size:1.25rem; color:#fff; letter-spacing:-0.025rem; text-align:center; margin:.625rem 0 0; background:#3f4249; border-radius:0.2rem; outline:none;}

/* 鍮????? 二쇰Ц --------------------------------------------------------------------*/
.guest_btn{margin:20px 20px 0;}
.guest_btn button{display:block; width:100%; height:42px; line-height:40px; text-align:center; color:#555; font-size:15px; border:1px solid #999; border-radius:3px;}

/*아이디 비번 / 찾기 --------------------------------------------------------------------*/
.order_guest{margin:20px 20px 0; border:1px solid #ddd; padding:20px; border-radius:3px; box-sizing: border-box;}
.order_guest .tit{font-size:15px; color:#333; line-height:1.3; letter-spacing:-0.02em; font-weight:600;}
.order_guest .tit + span {font-size: 14px; letter-spacing: -0.05rem; color: #666; font-weight: 400; line-height: 18px; margin: 6px 0 0;}
.order_guest .form{position:relative; margin:10px 0 0;}
.order_guest .form input{display:block; width:calc(100% - 90px); height: 40px; line-height: 39px; color: #333; font-size:14px; border:1px solid #ddd; border-radius:3px; margin:6px 0 0; padding:0 0 0 10px;}
.order_guest .form input:first-child{margin:0;}
.order_guest .form button{padding: 0 6px; word-break: keep-all; box-sizing: border-box; position:absolute; right:0; top:0; width:80px; height: 86px; background:#5f5f5f; color:#fff; font-size:14px; border-radius:3px; letter-spacing:-0.05em;}
.order_guest .form button.pw {height: 132px;}

/* ????媛???踰??? --------------------------------------------------------------------*/
.login_button {text-align:center; margin:2rem auto 2rem;}
.login_button a {display:inline-block; font-size:1rem; letter-spacing:-0.025rem; color:#666;}
.login_button a:hover {color:#333;}

/* ?쎄? */
.member_area input {width:16px; height:16px; margin:0 6px 0 0; vertical-align:middle;}
.member_area label {font-size:.9rem; line-height:1.25rem; margin-bottom:.4rem; vertical-align:middle;}

/* 踰??? ----------------------------------------------------------- */
.button_common{width:100%; padding:0 3%; margin:8px auto 30px; box-sizing:border-box;}
.button_common button, .button_common a{
display:block; width:100%; height:50px; line-height:50px; text-align:center; color:#fff; font-size:18px; 
font-weight:500; letter-spacing:-0.025rem; 
background:#ef4023; border:none; }
.button_common .flex-layout {display: flex; justify-content: space-between; align-items: center;}
.button_common .flex-layout button {flex: none; width: 49.5%;}
.button_common .flex-layout button:first-child {background: #333;}
/* ??蹂?, ?명?? 由ъ?ㅽ?? ----------------------------------------------------------------------*/
.agree_box {width:100%; padding:16px 3%; box-sizing:border-box;}
.agree_box h3 {font-size:18px; font-weight:500; letter-spacing:-0.045rem; color:#111; margin:6px 0 14px;}
.agree_box .ttl h3 {float:left;}
.agree_box .ttl span {float:right; margin:6px 0 14px;}
.agree_box .ttl input {width:16px; height:16px; margin:0 5px 0 0; vertical-align:middle;}
.agree_box .ttl label {display:inline-block; font-size:.85rem; letter-spacing:-0.025rem; color:#333; vertical-align:middle;}

.data-line{margin:1.5rem 0; height:1px; background:#eee;}
.data-table{}
.data-table, .data-table dt, .data-table dd{padding:0; margin:0;}
.data-table{margin:12px auto 0;}
.data-table:first-child{margin-top:0;}
.data-table dt{font-size:15px; font-weight:500; color:#333; line-height:1.3; letter-spacing:-0.05em;}
.data-table dt i{font-style:normal; color:#ff3131;}
.data-table dt small{font-size:.7rem; color:#999; letter-spacing:-0.05em;}
.data-table dd{position:relative; margin:10px 0 0; font-size:13px;}
.data-table dd span {font-size:.8rem; color:#555;}
.data-table dd.txt{font-size:1.05rem; color:#111; font-weight:bold;}
.data-table dd, .data-table dd *{font-size:.95rem; vertical-align:middle;}
.data-table dd input[type=text], .data-table dd input[type=password], .data-table dd input[type=email], .data-table dd input[type=tel], .data-table dd input[type=file] {width:calc(100% - 17px); height:2.2rem; font-size:.95rem; color:#333; background:#fff; padding:0 0 0 1rem; margin:0; border:1px solid #ddd; border-radius:3px; appearance:none; -webkit-appearance:none; }
.data-table dd select {min-width:3.75rem; max-width:100%; height:2.35rem; padding:0 1.9rem 0 .7rem; margin:0; border:1px solid #ddd; font-size:14px; color:#333; border-radius:3px;}
.data-table dd textarea{width:calc(100% - 22px); line-height:1.5; font-size:.95rem; color:#333; background:#fff; padding:.625rem; margin:0; border:1px solid #ddd; border-radius:3px;}
.data-table dd button{height:2.2rem; background:#888; color:#fff; font-size:.8rem; letter-spacing:-0.05em; padding:0 .75rem; border-radius:3px;}
.data-table dd label{display:inline-block; margin:0 8px 0 0; font-size:14px;}
.data-table dd label:last-child{margin-right:0;}
.data-table dd input[type=radio]{width:1rem; height:1rem; margin:0 .4rem 0 0;}
.data-table.spam_check input[type="text"] {width:90px; height:2.2rem;}

.data-table dd.total span {font-size:.8rem; line-height:22px;}
.data-table dd.total .prd_price {float:right; font-size:1.1rem; font-weight:500; line-height:22px; color:#ef4023;}

.data-table dd .method {display:block; margin:0 0 2px;}
.data-table dd .inner_table {width:100%; border:1px solid #ddd; box-sizing:border-box;}
.data-table dd .inner_table input[type="text"] {width:100%; height:30px; border:none; font-size:.7rem; padding:0 4px;}
.data-table dd .inner_table input[type="radio"] {width:12px; height:12px; margin:0 4px 0 0;}
.data-table dd .inner_table input[type="radio"] + label {font-size:.75rem;}
.data-table dd .inner_table th, .data-table dd .inner_table td {vertical-align:middle; text-align:left; padding:0 2%; border-bottom:1px solid #ddd; box-sizing:border-box;}
.data-table dd .inner_table th {width:22%; font-size:.75rem; background:#f9f9f9; border-right:1px solid #ddd;}
.data-table dd .inner_table td {width:28%;}
.data-table dd .inner_table td[colspan="3"] {width:78%;}
.data-table dd .inner_table span {display:inline-block;}
.data-table dd .inner_table input.input_style {width:45px; border:1px solid #ddd; margin:2px 0;}

/* orderlist.php */
.order_list_wrap {width:100%; padding:0 3%; margin:20px 0 0; box-sizing:border-box;}
.order_list_wrap .order_list {width:100%; border:1px solid #ddd; margin-bottom:5px; box-sizing:border-box;}
.order_list h2 {width:100%; height:auto; padding:10px 3%; background:#f9f9f9; font-size:.95rem; font-weight:500; line-height:1.3; letter-spacing:-0.045rem; color:#333; border-bottom:1px solid #ddd; box-sizing:border-box;}

.order_list .info_box, .order_list .order_detail {width:100%; padding:10px 3%; box-sizing:border-box;}
.order_list .info_box .order_info {font-size:.8rem; color:#555; margin-bottom:6px;}
.order_list .info_box .order_info span {display:inline-block; vertical-align:middle;}
.order_list .info_box .order_info .id {color:#ef4023;}
.order_list .info_box .order_info .id:before {content:''; display:inline-block; width:1px; height:12px; background:#ddd; margin:0 6px 0 5px; vertical-align:middle;}
.order_list .info_box .order_status {font-size:.9rem; color:#333;}
.order_list .info_box .order_status .status {display:inline-block; line-height:28px; vertical-align:middle;}
.order_list .info_box .order_status input {float:right; padding:4px 6px; border:1px solid #ddd; background:#fff; text-align:center; font-size:.8rem; color:#777; box-sizing:border-box;}

.order_list .prd_info, .order_list .prd_price {padding:10px 3%; box-sizing:border-box;}
.order_list .prd_info span {display:block; font-size:.85rem; letter-spacing:-0.025rem; color:#333; margin:4px 0;}
.order_list .prd_price .total_price {display:block; font-weight:500; font-size:.95rem;}

.order_list .prd_price span {display:inline-block; font-size:.85rem; letter-spacing:-0.025rem; color:#333; margin:4px 0;}
.order_list .order_detail {padding:5px 3% 10px;}
.order_list .order_detail .price {font-size:1rem; font-weight:500; line-height:28px; color:#111;}
.order_list .order_detail .more_btn {float:right; height:28px; border:1px solid #ccc; background:#f9f9f9; color:#555; text-align:center; padding:0 12px; font-size:.8rem; letter-spacing:-0.025rem; box-sizing:border-box;}

.order_list .detail_id {width:100%; border-top:1px solid #ddd; margin-bottom:12px; box-sizing:border-box;}
.detail_id .join_input_table th, .detail_id .join_input_table td {padding:6px; text-align:left; vertical-align:middle; font-size:.85rem; color:#333; box-sizing:border-box;}
.detail_id .join_input_table th {width:28%;}
.detail_id .join_input_table.basket th {width:20%; vertical-align:middle; background:#f9f9f9; font-size:.8rem; font-weight:500; text-align:center; border-bottom:1px solid #ddd;}
.detail_id .join_input_table.basket td {font-size:.8rem; text-align:center; padding:4px 0; text-align:center; vertical-align:middle; border-bottom:1px solid #ddd; box-sizing:border-box;}

.order_list .detail_id h3 {font-size:1rem; font-weight:500; color:#111; margin:0 0 8px; padding:0 3%; box-sizing:border-box;}
.detail_id .join_input_table.address {width:94%; margin:0 auto; border:1px solid #ddd;}
.detail_id .join_input_table.address th, .detail_id .join_input_table.address td {padding:12px 6px; border-bottom:1px solid #ddd; font-size:.8rem;}
.detail_id .join_input_table.address th {background:#f9f9f9;}

/* wishlist */
.wish_list_wrap {width:100%; padding:20px 0 0; box-sizing:border-box;}
.wish_list_wrap .prd_view {width:100%; padding:0 3% 12px; border-bottom:1px solid #ddd; margin-bottom:5px; box-sizing:border-box;}
.wish_list_wrap .prd_view input[type="checkbox"] {width:16px; height:16px; margin:0;}
.wish_list_wrap .prd_view .img_box {display:block; width:75px; height:75px; border:1px solid #ddd; box-sizing:border-box;}
.wish_list_wrap .prd_view .img_box img {width:100%; height:auto;}

.wish_list_wrap .prd_tit {font-size:.85rem; line-height:1.3; letter-spacing:-0.025rem; font-weight:500; color:#333;}
.wish_list_wrap .prd_tit a {display:inline-block; vertical-align:middle;}

.wish_list_wrap .wish_inner th, .wish_list_wrap .wish_inner td {font-size:.8rem; vertical-align:top; text-align:left; padding:4px 8px; box-sizing:border-box;}
.wish_list_wrap .wish_inner th {color:#555;}

.wish_btn {margin:10px auto 50px; padding:0 2%; box-sizing:border-box;}
.wish_btn .btn_small {display:inline-block; height:28px; line-height:26px; padding:0 12px; font-size:.8rem; color: #444; letter-spacing:-0.07em; border-radius: 2px; margin-left:5px;  border: 1px solid #ddd; border-right-color: #bbb; border-bottom-color: #bbb; background: #fff; background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%); background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%); background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f7f7f7', GradientType=0); box-sizing:border-box; vertical-align:middle;}

/* cart */
.prd_basket {}
.prd_basket input[type="checkbox"] {width:16px; height:16px; margin:0;}
.prd_basket .img_box {display:inline-block; width:75px; height:75px; border:1px solid #ddd; margin-left:12px; box-sizing:border-box;}
.prd_basket .img_box img {width:100%; height:auto;}
.prd_basket .prd_tit {font-size:.85rem; line-height:1.3; letter-spacing:-0.025rem; font-weight:500; color:#333; padding:0 6px; box-sizing:border-box;}
.prd_basket .prd_tit a {display:inline-block; vertical-align:middle;}

.prd_basket .basket_inner th, .prd_basket .basket_inner td {font-size:.8rem; vertical-align:top; text-align:left; padding:4px 8px; box-sizing:border-box;}
.prd_basket .basket_inner th {color:#555;}
.prd_basket .basket_inner .prd_price {font-size:.95rem;}
.prd_basket .basket_inner .amount a {float:left; width:24px; height:26px; line-height:24px; font-weight:700; color:#555; border:1px solid #ddd; background:#f9f9f9; text-align:center; box-sizing:border-box;}
.prd_basket .basket_inner .amount input[type="text"] {float:left; width:40px; height:26px; font-size:.85rem; color:#111; border-width:1px 0; border-style:solid; border-color:#ddd; text-align:center; box-sizing:border-box;}
.prd_basket .basket_inner .amount .count_btn {display:inline-block; height:26px; line-height:24px; padding:0 6px; font-size:.75rem; color: #444; letter-spacing:-0.07em; border-radius: 3px; margin-left:5px;  border: 1px solid #ddd; border-right-color: #bbb; border-bottom-color: #bbb; background: #fff; background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%); background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%); background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f7f7f7', GradientType=0); box-sizing:border-box; vertical-align:middle;}

.prd_basket .basket_info th, .prd_basket .basket_info td {font-size:.8rem; line-height:1.3; letter-spacing:-0.025rem; color:#333; vertical-align:middle;}
.prd_basket .basket_info th {text-align:left;}

.cart_total {width:100%; padding:20px 3%; box-sizing:border-box;}
.cart_total h3 {font-size:1rem; letter-spacing:-0.045rem; font-weight:500; color:#111; margin:0 0 12px;}
.cart_total th {font-size:.9rem; letter-spacing:-0.065rem; font-weight:500; color:#555; padding:6px 0;}
.cart_total td {font-size:.9rem; font-weight:500; color:#111;}
.cart_total td.total_price {font-size:1.1rem; color:#ef4023;}

.cart_del {margin:6px 0 16px;}
.cart_del li {font-size:.8rem; line-height:1.4; letter-spacing:-0.045rem; color:#999; }

/* order_pay */
.pay_table {width:94%; margin:12px auto;}
.pay_table th, .pay_table td {font-size:.9rem; letter-spacing:-0.045rem; font-weight:500; color:#111; padding:6px 0; text-align:left; vertical-align:middle;}
.pay_table select {height:32px; line-height:30px; padding:0 30px 0 8px; border:1px solid #ddd;}
.pay_table input[type="text"] {height:32px; padding:0 8px; border:1px solid #ddd; box-sizing:border-box;}

/* order_ok */
.order_ok {width:94%; margin:16px auto; padding:20px 3%; background:#f1f1f1; text-align:center; box-sizing:border-box;}
.order_ok h3 {font-size:1rem; letter-spacing:-0.025rem; font-weight:500; color:#111; margin:0 0 20px;}
.order_ok p {font-size:.8rem; line-height:1.25; letter-spacing:-0.025rem; color:#555;}

/* page common */
.page_cont {width:100%; padding:20px 3% 30px; font-size:.9rem; line-height:1.3; box-sizing:border-box;}
.page_cont h2 {font-size:1.2rem; font-weight:500; letter-spacing:-0.045rem; color:#111; margin-bottom:25px;}

/* board common */
.board_cont {width:100%; padding:30px 3% 50px; box-sizing:border-box;}


/* ???? ?듭?????? */
.View_info_option_tit{margin:15px 0 10px; font-size:12px; color:#333; letter-spacing:-0.05em; line-height:1.3;}
.View_info_option{margin:0 0 5px; padding: 0 12px; box-sizing: border-box;}
.View_info_option select{width: 100%; height: 40px; margin: 6px auto; display: block; font-size:13px;  border:1px solid #ddd; box-sizing: border-box;}
.View_info_option-qty{position:relative; padding: 0 12px; box-sizing: border-box;}
.View_info_option-qty .btn_x{position:absolute; right:10px; top:50%; transform: translateY(-50%); width:13px; height:13px; text-align:center; background:url(/images/ico/ico-delete.png) 50% 50% no-repeat #fff; background-size: 10px auto; border:1px solid #ddd;}
	/* ???? */
.qty-btn{font-size:0; white-space:nowrap; padding: 4px 0; box-sizing: border-box;}
.qty-btn, .qty-btn *{vertical-align:middle; font-family:Arial;}
.qty-btn *{vertical-align:middle;}
.qty-btn button {box-sizing: border-box; width: 28px; height: 28px; line-height: 26px; text-align:center; border:1px solid #ddd; cursor:pointer; font-size: 18px; background:#f5f5f5; color: #666;}
.qty-btn input {margin: 0 -4px; box-sizing: border-box; width:70px; height:28px; line-height:28px; text-align:center; font-size:15px; color:#444; background:#fff; border-width:1px 0; border-style:solid; border-color:#ddd; }

/* 珥? ????湲??? */
.View_info_prdprice{letter-spacing:-0.065rem; color:#111; font-weight:500; box-sizing:border-box; font-size: 16px; margin: 12px 0 0; border-top: 1px solid #ddd; padding: 20px;}


.prd_sns {text-align: right; display: flex; justify-content: flex-end; align-items: center; padding: 0 3% 0 0; box-sizing: border-box;}
.prd_sns * {flex: none;}
.prd_sns .sns {width: 28px; height: 28px; margin-left: 5px; vertical-align: middle; background-position: 50% 50%; background-size: 100% auto; text-indent: -9999px; cursor: pointer; }
.prd_sns .twit { background-image: url(/images/ico/social-twitter-on.png); }
.prd_sns .face { background-image: url(/images/ico/social-facebook-on.png); }
.prd_sns .insta { background-image: url(/images/ico/social-insta-on.png); }
.prd_sns .kakao { background-image: url(/images/ico/social-kakao-on.png); }
